 1 T test

In [1]:
from scipy.stats import ttest_1samp #its a 1 not an l

In [2]:
from scipy.stats import norm

In [7]:
import math

In [3]:
data = [87,68,69,71,85,86,76] #exxamples weigths

#this is if you know the data

In [4]:
test= ttest_1samp(a=data,popmean=85)

In [5]:
print(test)

Ttest_1sampResult(statistic=-2.378172554291756, pvalue=0.054904857540624415)

In [ ]:
# there is no extreme results pvalue > 0.05
# not enough evidence to claim the boys are underweight
#we would have to accept the H0 -->reject HA

Ahora caso en el que no conocemos data sino alguna cosa

In [6]:
# if we dont have the readins only the global stat indicators
sample_mean= 80.94
pop_mean=85
sample_std=11.6
n=25

In [8]:
t_statistic = (sample_mean-pop_mean)/(sample_std/(math.sqrt(n-1)))

In [9]:
t_statistic

-1.7146428199482255

In [10]:
# p value
p_value = norm.cdf(t_statistic)

In [11]:
p_value

0.04320536648684992

In [12]:
# critical value
critical_value= norm.ppf(0.05)

In [13]:
critical_value

-1.6448536269514729

In [ ]:
# nuestro t_value esta por debajo de el critical value por lo que significa que esta pasando algo por lo que descartamos H0

In [ ]:
#if we are not consistent -accept H0
# in this case we DO have evidence that boys are underwight

2 anova test example

In [14]:
import pandas as pd

df = pd.read_excel('anova_lab_data.xlsx', sheet_name='data_collected')

In [23]:
df = pd.read_csv('anova_class_example_data1.csv')

In [24]:
df

    Display_design  Percent_increase_in_sales
0                1                        575
1                2                        565
2                3                        600
3                4                        725
4                1                        542
5                2                        593
6                3                        651
7                4                        700
8                1                        530
9                2                        590
10               3                        610
11               4                        715
12               1                        539
13               2                        579
14               3                        637
15               4                        685
16               1                        570
17               2                        610
18               3                        629
19               4                        710

In [21]:
import statsmodels.api as sm

C:\Users\Krop\anaconda3\envs\ClassPau\lib\site-packages\statsmodels\tsa\base\tsa_model.py:7: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,
C:\Users\Krop\anaconda3\envs\ClassPau\lib\site-packages\statsmodels\tsa\base\tsa_model.py:7: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,

In [22]:
from statsmodels.formula.api import ols


#samples should be independent
# samples should be similar period of time -the same 5 days
#more than 2 samples
#interested in difference not which is better or worse

In [27]:
# we gona train a model
model = ols('Percent_increase_in_sales ~ C(Display_design)', data=df).fit()

In [28]:
results_table = sm.stats.anova_lm(model)

In [29]:
results_table

                     df    sum_sq       mean_sq          F        PR(>F)
C(Display_design)   3.0  66870.55  22290.183333  66.797073  2.882866e-09
Residual           16.0   5339.20    333.700000        NaN           NaN