In [1]:
import pymysql
import sqlalchemy as sa
from sqlalchemy import inspect
from sqlalchemy import create_engine
import pandas as pd

In [2]:
df = pd.read_csv('strokes_data.csv')

In [3]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43395,56196,Female,10.0,0,0,No,children,Urban,58.64,20.4,never smoked,0
43396,5450,Female,56.0,0,0,Yes,Govt_job,Urban,213.61,55.4,formerly smoked,0
43397,28375,Female,82.0,1,0,Yes,Private,Urban,91.94,28.9,formerly smoked,0
43398,27973,Male,40.0,0,0,Yes,Private,Urban,99.16,33.2,never smoked,0
43399,36271,Female,82.0,0,0,Yes,Private,Urban,79.48,20.6,never smoked,0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 43400 non-null  int64
 1   gender             43400 non-null  object
 2   age                43400 non-null  float64
 3   hypertension       43400 non-null  int64
 4   heart_disease      43400 non-null  int64
 5   ever_married       43400 non-null  object
 6   work_type          43400 non-null  object
 7   Residence_type     43400 non-null  object
 8   avg_glucose_level  43400 non-null  float64
 9   bmi                41938 non-null  float64
 10  smoking_status     30108 non-null  object
 11  stroke             43400 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 4.0+ MB

In [4]:
df['stroke'].value_counts()

0    42617
1      783
Name: stroke, dtype: int64

#EDA / identify problems and fix these

-drop duplicates                   df.drop_duplicated()
-replace nulls                      df.replace(np.nan,'x') or remove or estimate
-encode strings as numbers                 pd.get_dummies()
-(op) scale numeric variables

#get you log regresion model
#fit it to your data
define X define y, train test split(), fit()

#evaluate model
-confusion matrix -accuracy score

### lets start the first block EDA+cleaning

In [ ]:
#EDA / identify problems and fix these

-drop duplicates                   df.drop_duplicated()
-replace nulls                      df.replace(np.nan,'x') or remove or estimate
-encode strings as numbers                 pd.get_dummies()
-(op) scale numeric variables

duplicados etc

In [7]:
#empezemos por tirar las entradas duplicadas

df.duplicated().sum()

0

ahora nulls

In [8]:
#nulls
df.isnull().values.any()

True

In [10]:
df.dropna(subset=['smoking_status','bmi'], inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29072 entries, 1 to 43399
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 29072 non-null  int64
 1   gender             29072 non-null  object
 2   age                29072 non-null  float64
 3   hypertension       29072 non-null  int64
 4   heart_disease      29072 non-null  int64
 5   ever_married       29072 non-null  object
 6   work_type          29072 non-null  object
 7   Residence_type     29072 non-null  object
 8   avg_glucose_level  29072 non-null  float64
 9   bmi                29072 non-null  float64
 10  smoking_status     29072 non-null  object
 11  stroke             29072 non-null  int64
dtypes: float64(3), int64(4), object(5)
memory usage: 2.9+ MB

ahora convertir los categoricos en dummies

In [12]:
df['gender'].unique()

array(['Male', 'Female', 'Other'], dtype=object)

In [13]:
df['ever_married'].unique()

array(['Yes', 'No'], dtype=object)

In [14]:
df['work_type'].unique()

array(['Private', 'Self-employed', 'Govt_job', 'children', 'Never_worked'],
      dtype=object)

In [15]:
df['Residence_type'].unique()

array(['Urban', 'Rural'], dtype=object)

In [16]:
df['smoking_status'].unique()

array(['never smoked', 'formerly smoked', 'smokes'], dtype=object)

In [17]:
#empezamos a hacer dummies

df = pd.get_dummies(df, columns=['gender'])

In [19]:
df = pd.get_dummies(df, columns=['ever_married'])

df = pd.get_dummies(df, columns=['work_type'])

df = pd.get_dummies(df, columns=['Residence_type'])

df = pd.get_dummies(df, columns=['smoking_status'])

In [20]:
df

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,gender_Other,...,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
1,30468,58.0,1,0,87.96,39.2,0,0,1,0,...,0,0,1,0,0,0,1,0,1,0
3,56543,70.0,0,0,69.04,35.9,0,1,0,0,...,0,0,1,0,0,1,0,1,0,0
6,52800,52.0,0,0,77.59,17.7,0,1,0,0,...,0,0,1,0,0,0,1,1,0,0
7,41413,75.0,0,1,243.53,27.0,0,1,0,0,...,0,0,0,1,0,1,0,0,1,0
8,15266,32.0,0,0,77.67,32.3,0,1,0,0,...,0,0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43395,56196,10.0,0,0,58.64,20.4,0,1,0,0,...,0,0,0,0,1,0,1,0,1,0
43396,5450,56.0,0,0,213.61,55.4,0,1,0,0,...,1,0,0,0,0,0,1,1,0,0
43397,28375,82.0,1,0,91.94,28.9,0,1,0,0,...,0,0,1,0,0,0,1,1,0,0
43398,27973,40.0,0,0,99.16,33.2,0,0,1,0,...,0,0,1,0,0,0,1,0,1,0
43399,36271,82.0,0,0,79.48,20.6,0,1,0,0,...,0,0,1,0,0,0,1,0,1,0

IMPORTANTE dropear el id para no hacer overfitt!!!!!

In [21]:
df.drop('id', axis = 1, inplace = True)

In [22]:
df

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,gender_Female,gender_Male,gender_Other,ever_married_No,...,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
1,58.0,1,0,87.96,39.2,0,0,1,0,0,...,0,0,1,0,0,0,1,0,1,0
3,70.0,0,0,69.04,35.9,0,1,0,0,0,...,0,0,1,0,0,1,0,1,0,0
6,52.0,0,0,77.59,17.7,0,1,0,0,0,...,0,0,1,0,0,0,1,1,0,0
7,75.0,0,1,243.53,27.0,0,1,0,0,0,...,0,0,0,1,0,1,0,0,1,0
8,32.0,0,0,77.67,32.3,0,1,0,0,0,...,0,0,1,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43395,10.0,0,0,58.64,20.4,0,1,0,0,1,...,0,0,0,0,1,0,1,0,1,0
43396,56.0,0,0,213.61,55.4,0,1,0,0,0,...,1,0,0,0,0,0,1,1,0,0
43397,82.0,1,0,91.94,28.9,0,1,0,0,0,...,0,0,1,0,0,0,1,1,0,0
43398,40.0,0,0,99.16,33.2,0,0,1,0,0,...,0,0,1,0,0,0,1,0,1,0
43399,82.0,0,0,79.48,20.6,0,1,0,0,0,...,0,0,1,0,0,0,1,0,1,0

Lets define Y and X

In [23]:
y=df['stroke']

In [24]:
x=df.drop('stroke', axis=1)

In [26]:
y.shape

(29072,)

In [27]:
x.shape

(29072, 20)

#get you log regresion model
#fit it to your data
define X define y, train test split(), fit()

lets try to do a model

In [28]:

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [38]:
logreg=LogisticRegression(max_iter=800) #our data is so bad that sklearn made us make 800 iterations

In [39]:
X_train, X_test, Y_train, Y_test = train_test_split(x,y,test_size=0.3, random_state=40)

In [40]:
mhrt=logreg.fit(X_train,Y_train)

#evaluate model
-confusion matrix -accuracy score

### Our model is shit so we must apply methods to the data

In [42]:
from imblearn.under_sampling import TomekLinks

In [43]:
tomek = TomekLinks()

In [ ]:
X_tl,y_tl=tomek.fit_resample(X_full,y)

In [ ]:
y.shape

In [ ]:
y.value_counts()

In [ ]:
y_tl.shape

In [ ]:
X_tl.shape

In [ ]:
y_tl.value_counts()

In [ ]:
X_train_tl, X_test_tl, y_train_tl, y_test_tl = train_test_split(X_tl, y_tl, test_size=0.3, random_state=40)

In [ ]:
clf_tl=logreg.fit(X_train_tl,y_train_tl)

In [ ]:
y_pred_tl=clf_tl.predict(X_test_tl)

In [ ]:
accuracy_score(y_test_tl,y_pred_tl)

In [ ]:
cm = confusion_matrix(y_test_tl, y_pred_tl, labels=clf.classes_)
disp = ConfusionMatrixDisplay(confusion_matrix=cm,display_labels=clf.classes_)
disp.plot()