In [4]:
import pymysql
import sqlalchemy as sa
from sqlalchemy import inspect
from sqlalchemy import create_engine
import pandas as pd

# create a conection string

-user name for mysql
-password for mysql
-schema (bank)
-port (local host?)
-dialect (pymysql)
-driver (sqlalchemy)



+sql query to get tables, fields

password security

# opcinal para anonimizar passwords
import getpass

import getpass

password = getpass.getpass()

4 setup conection

In [5]:
connection_string = 'mysql+pymysql://root:password@localhost/bank'

# 'dialect + driver :// username:password@localhost/schema'

engine = create_engine(connection_string)

In [6]:
#we select a table and get it in the df
df = pd.read_sql_query('select * from loan', engine)

In [7]:
df

     loan_id  account_id    date  amount  duration  payments status
0       5314        1787  930705   96396        12    8033.0      B
1       5316        1801  930711  165960        36    4610.0      A
2       6863        9188  930728  127080        60    2118.0      A
3       5325        1843  930803  105804        36    2939.0      A
4       7240       11013  930906  274740        60    4579.0      A
..       ...         ...     ...     ...       ...       ...    ...
677     4989         105  981205  352704        48    7348.0      C
678     5221        1284  981205   52512        12    4376.0      C
679     6402        6922  981206  139488        24    5812.0      C
680     5346        1928  981206   55632        24    2318.0      C
681     6748        8645  981208  240900        60    4015.0      C

[682 rows x 7 columns]

5 inspect tables and columns

In [8]:
insp = inspect(engine)

In [9]:
# see table names in any databse

print(insp.get_table_names())

['account', 'card', 'client', 'disp', 'district', 'loan', 'order', 'trans']

In [14]:
print(insp.get_columns('loan', 'bank'))
#muestra columnas de la tabla loan que esta dentro del schema bank

[{'name': 'loan_id', 'type': INTEGER(), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}, {'name': 'account_id', 'type': INTEGER(), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}, {'name': 'date', 'type': INTEGER(), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}, {'name': 'amount', 'type': INTEGER(), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}, {'name': 'duration', 'type': INTEGER(), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}, {'name': 'payments', 'type': FLOAT(), 'default': None, 'comment': None, 'nullable': True}, {'name': 'status', 'type': TEXT(collation='utf8mb4_unicode_ci'), 'default': None, 'comment': None, 'nullable': True}]

In [15]:
#retrive list of column info of only 1
insp.get_columns('loan','bank')[0]

{'name': 'loan_id',
 'type': INTEGER(),
 'default': None,
 'comment': None,
 'nullable': True,
 'autoincrement': False}

In [16]:
insp.get_columns('loan','bank')[0]['name']

'loan_id'

In [17]:
insp.get_columns('loan','bank')[0].keys()

dict_keys(['name', 'type', 'default', 'comment', 'nullable', 'autoincrement'])

In [18]:
len(insp.get_columns('loan','bank'))

7

In [20]:
# we can creat a simple for loop which collects each column name and stores in list


columns=[]

for i in range(len(insp.get_columns('loan','bank'))):
    colname=insp.get_columns('loan','bank')[i]['name']
    columns.append(colname)

In [21]:
columns

['loan_id', 'account_id', 'date', 'amount', 'duration', 'payments', 'status']